---
import { Image } from "astro:assets";
import FeatureOne from "../assets/tijeras_resized.jpg";
import FeatureTwo from "../assets/corte_resized.jpg";
import FeatureThree from "../assets/estil_resized.png";

const images = [
  {
    title: "Corte de cabello",
    icon: FeatureOne,
    desc: "Desde estilos clásicos hasta las últimas tendencias.",
  },
  {
    title: "Afeitado",
    icon: FeatureTwo,
    desc: "El mejor tratamiento para tu barba.",
  },
  {
    title: "Estilizado",
    icon: FeatureThree,
    desc: "Perfecto para eventos especiales o para destacar en tu día a día.",
  },
];
---

<section class="solutions" id="features">
  <div class="container">
    <h2 class="h2-title center">Nuestros servicios</h2>
    <div class="row">
      {
        images.map((item) => (
          <div class="sol-wrap one-third column">
            <div class="sol-media m-margin">
              <Image
                src={item.icon}
                alt={item.title}
                class="rounded-img"
                width={150}
              />
            </div>
            <h3 class="h3-title">{item.title}</h3>
            <p>{item.desc}</p>
          </div>
        ))
      }
    </div>

    <style lang="scss">
      .solutions {
        .container {
          background-color: var(--tenary);
          border-radius: 20px;
          padding: 40px;
          h2 {
            color: #fff;
          }
        }
        h3,
        p {
          color: #fff;
        }
        img {
          width: 150px;
        }
        .rounded-img {
          border-radius: 15px;
        }
        @media (max-width: 700px) {
          text-align: center;
          .sol-wrap {
            padding: 20px;
          }
        }
      }
    </style>
  </div>
</section>
