---
import FeatureOne from '../assets/jpg/tijeras.jpg'
import FeatureTwo from '../assets/jpg/corte.jpeg'
import FeatureThree from '../assets/jpg/estil.jpg'
---



<section class="solutions" id="features">
    <div class="container">
      
        <div class="row">
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureOne} alt="Prospecto" class="rounded-img">
                </div>
                <h3 class="h3-title">Corte de Cabello</h3>
                <p>Desde estilos clásicos hasta las últimas tendencias.</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureTwo} alt="Marketing" class="rounded-img">
                </div>
                <h3 class="h3-title">Afeitado</h3>
                <p>Experiencia tradicional con toallas calientes.</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media  m-margin">
                    <img src={FeatureThree} alt="Automatización" class="rounded-img">
                </div>
                <h3 class="h3-title">Estilizado</h3>
                <p>Perfecto para eventos especiales o para destacar en tu día a día.</p>
            </div>
        </div>
    </div>
</section>



<style lang="scss">
    .solutions{
        .container{
            background-color: var(--tenary);
            border-radius: 20px;
            padding: 40px;
        }
        h3, p{
            color: #fff;
        }
        img{
            width: 150px;
        }
        .rounded-img {
            border-radius: 15px;
        }
    @media (max-width:700px) {
        text-align: center;
        .sol-wrap{
            padding: 20px;
        }
    }
}
</style>