---
import InstagramIcon from "../assets/instagram.svg";
import TwitterIcon from "../assets/twitter.svg";
import LocationIcon from "../assets/location.svg";
import WhatsappIcon from "../assets/whatsapp.svg";
import { Image } from "astro:assets";

const links = [
  {
    title: "Instagram",
    link: `https://www.instagram.com/albert_hair_studio/`,
    icon: InstagramIcon,
  },
  {
    title: "X",
    link: `https://twitter.com/_alberthebarber/`,
    icon: TwitterIcon,
  },
  { title: "Whatsapp", link: `https://wa.me/34617584185`, icon: WhatsappIcon },
  {
    title: "Localización",
    link: `https://maps.app.goo.gl/DugarCbLatEZJPNM9`,
    icon: LocationIcon,
  },
];
---

<footer>
  <div class="container" id="footer">
    <div class="flex">
      {
        links.map((item) => (
          <a href={item.link} target="_blank">
            <Image src={item.icon} alt={item.title} class="footer-icon" />
          </a>
        ))
      }
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: 50px;
  }

  .footer-icon {
    width: 50px;
    height: 50px;
  }

  .flex {
    justify-content: center;
    padding: 50px 10px;
    a {
      padding: 20px;
      color: #111;
      text-decoration: none;
      font-size: 2rem;
    }
  }

  img {
    width: 200px;
  }
</style>
